.camera
{
    background-image: url('../../../img/camera.jpg');
    background-size: contain;
    width: 150px;
    height: 150px;
}

.camera-upload
{
    width: 300px;
    height: 50px;
}