/*shopper info - start*/
/* The sidepanel menu */
.sidepanel {
    /*height: 550px;*//* Specify a height*/
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 20px;
    left: 100%;
    
    overflow-x: hidden; /* Disable horizontal scroll */
    /*padding-top: 60px; *//* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
    transform: translateX(-170%);
  }
  
  /* The sidepanel links */
  .sidepanel a {
    /* padding: 8px 0px 8px 32px; */
    text-decoration: none;
    /* font-size: 25px; */
    color: #000000;
    display: block;
    transition: 0.3s;  
  }
  
  .sidepanel .card {
    background-color: #057389; /* Black*/
    color: #ffffff;
  }
  
  .sidepanel .list-group-item {
    background-color: #057389; /* Black*/
    color: #ffffff;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .sidepanel ul {
    width: 100%;
    /* border:1px solid grey; */
    /* margin: 1em auto; */
    padding:0;
  }
  
  .sidepanel li {
    display: flex;  
    justify-content: space-between ;
  }
  
  .cart-status
  {
    width:50px;
    height:50px;
    background-color: green;
  }
  /*shopper info - end*/