.aisle {
    /* background:red; */
    position:relative;
    margin-left:0px;margin-top:-1px;   
  }
  
.sign {
    position: absolute;
   top:-40px;
   left:-40px; 
   display: block;
   width: 75px;
   height: 75px;
   border-radius: 50%;
  }
  
  
  .shopper{
    position: absolute;
    top:-140px;
    left:-40px; 
    width: 80px;
    height: 80px;
    border-radius: .7em;
    border: 5px solid #f6da73;
    transition: .5s ease;
    opacity: 1;
  }
  
  
  .shopper2{
    position: absolute;
    top:-230px;
    left:-40px; 
    width: 80px;
    height: 80px;
    border-radius: .7em;
    border: 5px solid #f6da73;
  }
  
  .middle  {  
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: -80px;
    left: 0px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 150px;
    background-color: red;
  }

  .middle2{  
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: -180px;
    left: 0px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 150px;
    background-color: red;
  }
  
  .shopper-container {
   background-color: green;
   opacity: 1;
   width: 100%;
   height: 100%;
  }


  .middle img, .middle2 img { position: absolute; bottom: 0; left: 0;width:30px;}
  .middle .mover-right, .middle2 .mover-right {  left: auto; right: 0;}
  
  .shopper-container:hover .shopper {
    opacity: 0.7;
  }

  .shopper-container:hover  .shopper2 {
    opacity: 0.7;
  }
  
  .shopper-container:hover  .middle {
    opacity: 1;
  }

  .shopper-container:hover  .middle2 {
    opacity: 1;
  }
  
  
  .shopper-container:after {
      content: '';
      position: absolute;
    bottom: 0;
    top:-60px;
      left: 20px;
      width: 0;
      height: 0;
      border: 20px solid transparent;
      border-top-color:#f6da73;
      border-bottom: 0;
      border-left: 0;
      margin-left: -10px;
      margin-bottom: -10px;
  }